*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;


}

.tela-login{
    align-items: center;
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 2);
    border-radius: 10px;
    color: rgb(27, 8, 8);
    padding: 30px 40px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 2);

}
