#cookie-banner {
        display: none; 
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #b6a8a8;
        color: white;
        padding: 15px;
        text-align: center;
        font-family: Arial, sans-serif;
        z-index: 9999;
      }
#cookie-banner button {
        background-color: #b95959;
        border: none;
        color: white;
        padding: 8px 15px;
        margin-left: 15px;
        cursor: pointer;
        font-size: 14px;
        border-radius: 4px;
      }
#cookie-banner a {
        color:  #b95959;
        margin-left: 15px;
        text-decoration: underline;
        font-size: 14px;
      }
    