*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./../img/fundoMulheres.jpg');
    background-size: cover;

    width: 100%;
    height: 100%;

}

h1{
    margin-bottom: 1em;
}


.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.formulario form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    padding: 4em;
    border-radius: 2em;
    gap: 1em;


}

.tela-login{
    display: flex;
    width: 100vw;
    height: 100vh;
    color: rgb(27, 8, 8);
}

h1{
    color: #A53860;
}

input{
    padding: 8px;
    border-radius: 10px;
    border: 1px solid #DA627D;
}

i{
    color: #DA627D;
}

button{
    background-color: #DA627D;
    padding: 0.5em 3em;
    color: #ffffff;
    border: none;
    font-size: 1em;
    border-radius: 30px;
}

button:hover {
   transform: scale(1.05);
   box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    cursor: pointer;
 }

a{
    text-decoration: none;
    color: #A53860;

 }

 input[type="date"] {
    color: rgb(110, 110, 110);
    width: 190px;
    
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(44%) sepia(91%) saturate(452%) hue-rotate(305deg) brightness(90%) contrast(90%);
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }

  p{
    text-align: center;
    font-size: 12px;
    width: 190px;
    margin: 5px;
  }